services:
  watchtower:
    image: nickfedor/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --disable-containers nextcloud-app nextcloud-db piwigo-app piwigo-db

