---

services:
  watchtower:
    image: nickfedor/watchtower
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      WATCHTOWER_DISABLE_CONTAINERS:
        nextcloud-app nextcloud-db piwigo-app piwigo-db
      WATCHTOWER_SCHEDULE: 0 0 21 * * *
