services:
  watchtower:
    image: nickfedor/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      WATCHTOWER_DISABLE_CONTAINERS:
        nextcloud-app nextcloud-db piwigo-app piwigo-db
