---

services:
  db_recipes:
    restart: unless-stopped
    image: postgres:16-alpine
    volumes:
      - /srv/tandoor/postgresql:/var/lib/postgresql/data
    env_file:
      - ./.env
    networks:
      - backend

  web_recipes:
    image: vabene1111/recipes:latest

    restart: unless-stopped
    env_file:
      - ./.env
    volumes:
      - staticfiles:/opt/recipes/staticfiles
      - /srv/tandoor/mediafiles:/opt/recipes/mediafiles
    depends_on:
      - db_recipes
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.tandoor.entrypoints=web-secure"
      - "traefik.http.routers.tandoor.rule=Host(`${TANDOOR_DOMAIN}`)"
      - "traefik.http.routers.tandoor.tls=true"
      - "traefik.http.routers.tandoor.tls.certresolver=default"
      - "traefik.http.routers.tandoor.middlewares=security-headers"
      - "traefik.http.services.tandoor.loadbalancer.server.port=80"
    networks:
      - backend
      - traefik_proxy

networks:
  backend:
    external: true
  traefik_proxy:
    external: true

volumes:
  nginx_config:
  staticfiles:
